{% extends "layout.html" %}

{% block title %}
    About - STUDENTLINK
{% endblock %}

{% block body %}
    <div class="grayDiv">
        <div class="whiteDiv">
            <h1 class="aboutHeader">About Student Link</h1>
            <p class="aboutPara">
                We are a collective group of students that want to help other students achieve
                their goals. We understand the challenges that students face which makes it
                easier for us to provide advice and guidance. 
            </p>
            <p class =aboutPara>
                Student Link is an online community effort that helps students by providing
                class help, tutoring aid, relationship advice, and career guidance.
            </p>

            <h1 class="faqHeader">FAQ</h1>
            <ul class="faqList">
                <li>How is Student Link moderated?</li>
                <li>How do I change my password?</li>
                <li>How do I delete my account?</li>
                <li>How do I change profile information?</li>
                <li>How do I delete a forum thread?</li>
                <li>How do I change my user?</li>
            </ul>
        </div>
    </div>
{% endblock %}