<footer>
    <nav class="footerProduct">
        <ul>
            <li><a>Product</a></li>
            <li><a>About</a></li>
            <li><a>Privacy Policy</a></li>
            <li><a>Terms of Service</a></li>
        </ul>
    </nav>

    <nav class="footerSupport">
        <ul>
            <li><a>Support</a></li>
            <li><a>Contact Us</a></li>
            <li><a>FAQ</a></li>
        </ul>
    </nav>
    
    <nav class="footerResources">
        <ul>
            <li><a>Resources</a></li>
            <li><a>Forums</a></li>
            <li><a>Career</a></li>
        </ul>
    </nav>

    <nav class="footerConnect">
        <ul>
            <li><a>Connect with SL</a></li>
            <li><a>Twitter</a></li>
        </ul>
    </nav>       


</footer>